# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore cmake
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile

# Ignore build direction
build/

# Ignore tm_driver direction
src/
tm_driver/

# Ignore Executable
tm_socket_test
